/* =============
    Buy Now
============= */

.buynow{
    


    .content{


        @include md{

            width: 60%;
        margin: auto;
        
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas:
        ". title ."
        ". img ."
        ". buybutton ."
        ;

        }

        .title{

            @include md{
                grid-area: title;
            }
            text-align: center;
        
        }

        .img{

            @include md{
                grid-area: img;
            }
            text-align: center;
        
        
        }

        .buybutton{
            text-align: center;
            padding-bottom: 64px;
            a{
                background-color: $purple;
                border: none;
                padding-top: 8px;
                padding-bottom: 8px;
                padding-left: 16px;
                padding-right: 16px;
                border-radius: 24px;
                color: white;
                text-decoration: none;
            }

            @include md{
                grid-area: buybutton;
            }
            
        
        
        }



    
    
    }

}


   