/* =============
    Buy Now
============= */

.buynow{

button{

background-color: $purple;
    border: none;
    padding: 4px;
}

a{
    color: white;
    padding: 4px;
}
    


    .content{


        @include md{

            width: 60%;
        margin: auto;
        
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas:
        ". title ."
        ". img ."
        ". button ."
        ;

        }

        .title{

            @include md{
                grid-area: title;
            }
            text-align: center;
        
        }

        .img{

            @include md{
                grid-area: img;
            }
            text-align: center;
        
        
        }

        .button{

            @include md{
                grid-area: button;
            }
        text-align: center;
        
        }



    
    
    }

}


   