/* =============
    Header2
============= */

.header2{

    background-color: $teal;
    .content{
        @include md{
        
            display: grid;
            grid-template-columns: 60% 1fr 1fr;
            grid-template-areas:
            ". buy cart"
            ;
            }

            .buy{

                button{
                    background-color: $purple;
                        border: none;
                        padding: 4px;
                    }
                    
                    a{
                        color: white;
                        padding: 4px;
                    }

                @include md{
                    grid-area: buy;
                }


            }

            .cart{


                button{

                    border: none;
                    background-color: transparent;
                    
                }

                @include md{
                    grid-area: cart;
                }


            }

    }



}