/* =============
    Payment
============= */

.payment{


    /* .confirm{
        
        padding-bottom: 16px;
    
form{
    color: white;
    text-decoration: none;

}
        button{


        background-color: $purple;
        border: none;
        padding: 4px;
        }
} */


    .custom-input {
        background-color: $paleteal;
        border: none;
        padding: 4px;
      }

    .content{

        text-align: center;

        @include md{
            width: 60%;
            margin: auto;

            display: grid;
            grid-template-columns: 16px auto 16px;
            grid-template-areas:
            ". method ."
            ". shipping ."
            ;
            }


            .method{

                @include md{
                    grid-area: method;
                  
                }
                    ul li{
                        margin: 8px;
                        display: inline-block;
                    }


            }

            .shipping{
                padding-bottom: 38px;

               @include md{
                    grid-area: shipping;

                }
                    ul li{

                        padding: 8px;
                        list-style: none;
                        
                    } 

                    form{

                        button{

                            color: white;
                            background-color: $purple;
                            border: none;
                            border-radius: 24px;
                            padding: 4px;
                        }



                        display: grid;
                        gap: 20px;
                        padding-bottom: 20px;
                        grid-template-columns: 1fr 1fr;
                        grid-template-areas: 
                        "email email"
                        "first last"
                        "address address"
                        "confirm confirm";

                        .email{
                            grid-area: email;
                        }

                        .first{
                            grid-area: first;
                        }

                        .last{
                            grid-area: last;
                        }

                        .address{
                            grid-area: address;
                        }

                        .confirm{
                            grid-area: confirm;
                            width: 20%;
                            margin: auto;
                            

                            
                        }


                    }
                


            }



    }
}