/* =============
    Receipt
============= */

.receipt{

    .continue{
        
        padding-bottom: 16px;
    
    a{
    color: white;
    text-decoration: none;

    }
        button{


        background-color: $purple;
        border: none;
        padding: 4px;
        }
}

.ordernumber{

color: $lightgrey;

}

    .content{


        @include md{

        width: 60%;
        margin: auto;

        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas:
        ". thankyou ."
        ". img ."
        ". tracking ."
        ;

        }

        .thankyou{
            @include md{
                grid-area: thankyou;
            }
            text-align: center;
        
        }

        .img{

            @include md{
                grid-area: img;
            }
        
        
        }

        .tracking{

            @include md{
                grid-area: tracking;
            }
        text-align: center;
        
        }



    
    
    }

}


   