/* =============
    Reviews
============= */

.reviews{
    padding-bottom: 64px;

    .reviews-title{

text-align: center;

    }


    .review-boxes{
 
        width: 60%;
        margin: auto;


        @include sm{

            
        
            display: grid;
            
            grid-template-columns: 16px auto 16px;
            grid-template-areas:
            ". reviews ."
            ". seemore ."
        ;
        }

        @include md{
            display: grid;
            
            grid-template-columns: 16px auto 16px;
            grid-template-areas:
            ". reviews . "
            ". seemore ."
        ;
        }
 
 
 
        @include lg{
            grid-template-columns: 16px auto 16px;
        }
 
        
 
        ul.review-grid{
            list-style: none;
            padding-left: 0;
 

            @include sm{

                grid-area: reviews;
            }
 
 
            @include md{
                grid-area: reviews;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
 
 
                grid-template-areas:
                "r1 r2 r3"
                ;
 }
 
 
        @include lg{
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-areas:
            "r1 r2 r3";   
    }
 
 
 
 
    li{
        .container{
 
 
            @include lg{
            grid-template-columns: 16px auto 16px;
 
 
            }
        }
 
 
        &.review-1{
 
 
       
            padding-top: 16px;
            padding-right: 8px;
            padding-left: 8px;
            border-right: 4px solid white;
            border-left: 4px solid white;
            background-color: $teal;
 
 
            @include md{
                grid-area: r1;
               
            }
        }
 
 
        &.review-2{
 
 
            padding-top: 16px;
            padding-left: 8px;
            padding-right: 8px;
            border-right: 4px solid white;
            border-left: 4px solid white;
            background-color: $teal ;
 
 
            @include md{
                grid-area: r2;
               
            }
        }
 
 
        &.review-3{
 
 
            padding-top: 16px;
            padding-left: 8px;
            padding-right: 8px;
            border-right: 4px solid white;
            border-left: 4px solid white;
            background-color: $teal ;
 
 
            @include md{
                grid-area: r3;
            }
        }
 
 
 
 
    }
 
 
 
 
    }
 
 
    .seemore{

        grid-area: seemore;
        padding-left: 4px;
       
        form{
     
           // padding-left: 25%;
            button{
    
    
                background-color: $teal;
            color: white;
            border: none;
            padding: 6px;
            border-radius: 24px;
            }
        }
    
    }
 






 }

 
 }
 