/* =============
    Footer
============= */

footer{

    background-color: $darkteal;
    color: white;

    .blacktext{

        color: black;
    }

    .content{

      /*  form{
            button{
                background-color: rgb(113, 33, 204);
            color: white;
            border: none;
            }
        } */

        @include md{
            display: grid;
            grid-template-columns: 25% 25% 50%;
            grid-template-areas:
            "products contact social-media"
            "copyright copyright copyright"
            ;
            }

        @include lg{
            grid-template-columns: 25% 25% 50%;
            grid-template-areas:
            "products contact social-media"
            "copyright copyright copyright"
            ;
            }

            .products{

                @include md{
                    grid-area: products;
                }


            }

            .contact{

                @include md{
                    grid-area: contact;
                }


            }

            .social-media{
                

                @include md{
                    grid-area: social-media;



                    ul li{
                        margin: 4px;
                        display: inline-block;
                    }
                }



            }

            .copyright{

                @include md{
                    grid-area: copyright;

                    ul li{
                    margin: 16px;
                    display: inline-block;
                }

                }

                


            }

            a{
                color: white;
            }


    }
}