/* =============
    Header
============= */

header{

    background-color: $darkteal;
    .content{


   /* @include sm{
        display: grid;
        grid-template-columns: 50% auto;
        grid-template-areas:
        "locations newsletter"
        "locations follow"
        ;
        } */

        

        
        
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-areas:
            "title menu search login"
            ;
             



    @include md{
        
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas:
        "title menu search login"
        ;
        }

        //teacher code

        .burger-container{
            grid-area: menu;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            @include lg{
                display: none;
            }

            button{
                border: none;
                background-color: transparent;
                color: $black;
                font-size: 20px;

                &:hover{
                    cursor: pointer;
                }
            }
        }
  




.title{
    
    a{
        text-decoration: none;
    }

    
    color: white;
    @include md{
        grid-area: title;
    }


}

.menu{

    padding-top: 8px;
    padding-bottom: 8px;

    @include md{
        grid-area: menu;
    }

    ul li{
        
        display: inline-block;
    }


}

.search{

    
    @include md{
        grid-area: search;
    }

    form{

        display:flex;
    justify-content: flex-end;
    
        padding-left: 32px;
        padding-top: 16px;
        
        display: flex;

        input{
            color: black;
            font-size: 16px;
            width: 100%;
            border: none;
            border-top-right-radius: 24px;
            border-bottom-right-radius: 24px;


        @include md{
            font-size: 16px;
        }


        }

        ::placeholder{

            color: lightgray;
            opacity: 1;
        }

        button{

        border-top-left-radius: 24px;
        border-bottom-left-radius: 24px;
        background-color: white;
        border: none;
        padding-top: 6px;
        
        }

    }


}

.login{
    
    

    padding-left: 24px;

    padding-top: 20px;
    
    button{
        
        border-radius: 24px;
        border: none;
        padding: 8px;
        
    }

    @include md{
        grid-area: login;
        
    }

    @include xl{

        display:flex;
    justify-content: flex-end;
    }



}

a{
    color: white;
}

    }
    
}   