/* =============
    Header
============= */

header{

    background-color: $darkteal;
    .content{


    @include sm{
        display: grid;
        grid-template-columns: 50% auto;
        grid-template-areas:
        "locations newsletter"
        "locations follow"
        ;
        }



    @include md{
        
        display: grid;
        grid-template-columns: 1fr 2fr 1fr 1fr;
        grid-template-areas:
        "title menu search login"
        ;
        }

        //teacher code

        .burger-container{
            grid-area: menu;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            @include lg{
                display: none;
            }

            button{
                border: none;
                background-color: transparent;
                color: $black;
                font-size: 20px;

                &:hover{
                    cursor: pointer;
                }
            }
        }
  




.title{

    color: white;
    @include md{
        grid-area: title;
    }


}

.menu{

    @include md{
        grid-area: menu;
    }

    ul li{

        display: inline-block;
    }


}

.search{


    @include md{
        grid-area: search;
    }

    form{

        display: flex;

        input{
            color: black;
            font-size: 16px;
            width: 100%;



        @include md{
            font-size: 35px;
        }


        }

        ::placeholder{

            color: lightgray;
            opacity: 1;
        }

        button{

        border: none;
        padding-top: 6px;
        
        }

    }


}

.login{

    button{

        border: none;
        
    }
    padding-left: 40px;

    @include md{
        grid-area: login;
    }



}

a{
    color: white;
}

    }
    
}   